root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
# Markdown 行尾两空格表示换行，保留
trim_trailing_whitespace = false
